@media screen and (max-width: 1024px) {
    .header-container h1 {
        margin-right: 20px;
    }
    form {
        display: block;
    }
    .hamburger {
        z-index: 5;
        top: 1.4rem;
        right: 2rem;
        padding: 4px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .close-icon{
        display: none;
    }
    .menu-items {
        flex-direction: column;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        background: white;
        color: white;
        list-style: none;
        padding-top: 1rem;
    }
    .show-menu {
        transform: translateY(0);
    }
    .glass {
        width: 100%;
        border-radius: 0;
    }
    .call-to-action {
        display: flex;
        flex-direction: column;
    }
    .call-to-action img {
        width: 100%;
        height: 300px;
    }
    .hero-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -230px;
    }
    .hero-container-2 h2 {
        font-size: 25px;
    }
    .hero-container-2 p {
        font-size: 15px;
    }
    .fresh-page-form {
        width: 100%;
    }
    .current-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .glass-bottom {
        flex-direction: column;
        width: 100%;
    }
    .demographics h2 {
        text-align: center;
       
    }
    .demographics p {
        text-align: center;
    }
    .glass-about-us {
        width: 100%;
    }
    .glass-about-us p {
        width: 100%;
        text-align: center;
    }
    .footerContainer {
        flex-direction: column;
        padding: 0;
    }
    .footer-box-1, .compDetails {
        padding: 5px;
        text-align: center;
    }
    .footer-box-2 {
        text-align: center;
    }


}
@media screen and (max-width: 768px) {
    .header-container {
        justify-content: space-between;
    }
    .header-container h1 {
        font-size: 25px;
    }
    form {
        display: none;
    }
    .brands-container {
        margin-right: 100px;
    }
    .brands-container .fa-brands {
        font-size: 30px;
        padding: 10px;
        color:#54b3d6;
    }
    .hamburger {
        z-index: 5;
        top: 1.2rem;
        right: 2rem;
        padding: 4px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .close-icon{
        display: none;
    }
    .menu-icon {
        font-size: 40px;
    }
    .menu-items {
        flex-direction: column;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        background: white;
        color: white;
        list-style: none;
        padding-top: 1rem;
    }
    .show-menu {
        transform: translateY(0);
    }
    .glass {
        width: 100%;
        border-radius: 0;
    }
    .call-to-action {
        display: flex;
        flex-direction: column;
    }
    .call-to-action img {
        width: 100%;
        height: 300px;
    }
    .hero-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -230px;
    }
    .hero-container-2 h2 {
        font-size: 25px;
    }
    .hero-container-2 p {
        font-size: 15px;
    }
    .fruit-heading h2 {
        font-size: 50px;
    }
    .fresh-page-form {
        width: 100%;
    }
    .current-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .glass-bottom {
        flex-direction: column;
        width: 100%;
    }
    .demographics h2 {
        text-align: center;
       
    }
    .demographics p {
        text-align: center;
    }
    .glass-about-us {
        width: 100%;
    }
    .glass-about-us p {
        width: 100%;
        text-align: center;
    }
    .footerContainer {
        flex-direction: column;
        padding: 0;
    }
    .footer-box-1, .compDetails {
        padding: 5px;
        text-align: center;
    }
    .footer-box-2 {
        text-align: center;
    }
}