@media screen and (min-width: 1025px) {
    .headerContent {
        width: 100%;
        z-index: 1;
    }
    .headerContainer {
        position: relative;
        margin: 10px 10px;
        min-height: 120px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    }
    .logoHeadingContainer {
        position: absolute;
        top: 10px;
        left: 100px;
        display: flex;
    
    }
    .logo-heading h1 {
        font-size: 25px;
    }
    .brandsContainer {
        position: absolute;
        top: 20px;
        right: 100px;
        max-width: 100px;
    }

    #date {
        position: absolute;
        right: 25%;
        width: 50%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .navbarContainer {
        position: absolute;
        margin: 0;
    }
    nav button  {
        display: none;
    }
    .navbar ul li a {
        display: block;
        padding: 0.8rem 2vw;
        text-decoration: none;
        color: #333;
    }
    .navbar ul li.active a {
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
    }
    .navbar ul li a:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    nav ul {
        right: 15%;
        position: absolute;
        margin-top: 20px;
        display: flex;
    }
    nav ul.open {
        display: block;
    }

    .eventContent {
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .event h3 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .eventDiamond {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .event p {
        margin: auto 20px;
        margin-top: 50px;
    }
    .event a {
        text-decoration: none;
    }
    .weatherIcon {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .weatherStatus h3 {
        text-align: right;
        margin-right: 25px;
        margin-bottom: 20px;
    }
    .weatherBaro {
        margin: auto 10px;
    }
    .joinBtn {
        width: 100%;
        margin-bottom: 30px;
    }
    .news-release {
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
    .heroContainer {
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
    .heroContainer img {
        width: 100%;
    }
    .heroContainer .myHero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .headingMsg {
        position: absolute;
        top: 30px;
        left: 18px;
        padding: 5px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(30px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 80px rgb(0 0 0 / 20%);
        overflow: hidden;
    }
    .headingBtn {
        position: absolute;
        bottom: 20px;
        right: 30px;
    }
    .joinBtn {
        font-size: 20px;
        padding: 5px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    }
    .spotlight {
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .spotlightOne, .spotlightTwo, .spotlightThree {
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        min-height: 300px;
    }
    .spotlightOne-p, .spotlightTwo-p{
        margin: auto 10px;
    }
    .spotlight h3, h4 {
        padding: 10px;
    }
    
    .event, .weatherContent, .joinContent {
        padding: 15px;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%)
    }
}

